  body {
      background-color: white;
  }
  .container{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }
  .containerLeft{
    width: 45vh;
  }
  .cardSelected{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .cardSelected .Col{
    width: 100%;
    padding: 2vh;
  }
  
  /*card->FLIP*/
  .cardSelected .card_flipWrap{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card_flipWrap .card_flipIn.is-flipped{
    transform: rotateY(180deg);
  }
  .card_flipIn{
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .cardRed{
    background-color: Red;
    width: 100%;
    height: 22vh;
    margin-bottom: 10%;
    border:  0.5vh solid black;
    border-radius: 0.9vh;
  }

  .containerRight{
    width: 45vh;
  }
  .cardBlue{
    background-color: Blue;
    width: 100%;
    height: 22vh;
    margin-bottom: 10%;
    border:  0.5vh solid black;
    border-radius: 0.9vh;
  }
  .containerMid{
    width: 50vh;
  }
  .headContent{
    display: flex;
    width: 100%;
    padding-bottom: 5vh;
    justify-content: center;
    font-weight: bold;
  }
  .head{ 
    font-size: 2vh;
    color: black;
    width: 100%;
  }
  .HeadLeft{
    text-align: left;
    width: 100%;
    padding: 1.39vh;
  }
  .headRed{
    font-size: 4vh;
    color: red;
  }
  .HeadRight{
    text-align: right;
    width: 100%;
    padding: 1.39vh;
  }
  .headBlue{
    font-size: 4vh;
    color: BLUE;
  }
  .HeadMid{
    width: 100%;
  }
  .headYellow{
    margin: 0.8vh;
    font-size: 4vh;
    color: yellow;
  }
  
  .containerForm{
    background-color: gray;
    width: 90%;
    height: 45vh;
    border-radius: 1vh;
    margin: auto;
    padding: 2vh;
  }
  .display{
    background-color: black;
    width: 90%;
    height: 25vh;
    border-radius: 1vh;
    margin: auto;
    padding: 2vh;
  }
  
  .Question{
    text-align: left;
  }
  .Question h1{
    color: yellow;
    font-size: 1.4vh;
  }
  
  .Question p{
    color: white;
    font-size: 0.8vh;
  }
  
  .Choice{
    display: flex;
    background-color: black;
    border-radius: 1vh;
    margin: 1vh;
    justify-content: center;
    font-weight: 100;
  }
  .Choice a{
    background-color: white;
    border-radius: 10vh;
    padding: 0.2vh;
    margin: auto;
  }
  .Choice .name{
    color: white;
    margin: auto;
  }
  .Choice .ref{
    color: yellow;
    margin: auto;
  }
  .Choice .space{
    width: 100%;
  }
  
  .contentMidBottom{
    display: flex;
    margin-top: 1.5vh;
  }
  .contentMidBottom .arrow{
    background-color: gray;
    border-radius: 1vh;
    width: 20%;
    height: 3vh;
    margin: 2%;
  }
  .contentMidBottom .entersend{
    background-color: gray;
    width: 40vh;
    height: auto;
    border-radius: 1vh;
    display: flex;
  }
  .entersend .Input{
    margin: auto;
    width: 60%;
  }
  
  .entersend .Button{
    margin: auto;
    width: 20%;
  }
  
  .function{
    display: flex;
    margin-top: 1.5vh;
  }
  .function .selection{
    background-color: gray;
    margin: auto;
    width: 24vh;
    height: 4vh;
    border-radius: 1vh;
  }
  .contentMidHead{
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
  
  .HEAD{
    text-align: center;
  }